[flake8]
exclude = .git,__pycache__,.pytest_cache,venv,forge/migrations,forge/settings.py

inline-quotes = double
max-line-length = 89
ignore = ANN101, ANN002, ANN003, ANN401, ANN001, ANN003, E203, W503
