{% extends "base.html" %}

{% block content %}
  <h1>
    {{ project.name }}
  </h1>

      {% if request.user.position.name == "ProjectManager" and not project.is_completed %}
        <form method="post" action="{% url 'forge:complete-project' project.id %} ">
          {% csrf_token %}
          <button type="submit" class="btn-primary page-link" onclick="return confirm('Are you sure you want to mark this task as completed?')">Mark as completed</button>
        </form>
      {% endif %}
  <p>Manager: {{ project.manager }} <a href="{{ project.manager.get_absolute_url }}">{{ project.manager.username }}</a>
  <p>Description: {{ project.description }}</p>
  <p>Start Date: {{ project.start_date }}</p>
  <p>Submit Date: {{ project.deadline }}</p>

  <h2>Tasks:</h2>
  <ul>
    {% for task in project.tasks.all %}
      <li>{{ task.title }}</li>
      {% if request.user.position.name == "ProjectManager" or request.user in project.team.members.all %}
          <a href="{% url 'forge:task-detail' task.id %}" class="btn btn-primary link-to-page"  >Details</a>
      {% endif %}

    {% empty %}
      No tasks right now.
    {% endfor %}
  </ul>


{% endblock %}
