{% extends "base.html" %}

{% block content %}
  <h1>
    {{ project.name }}
      {% if request.user.position.name == "ProjectManager" or request.user in project.team.members.all %}
          <a href="{% url 'forge:project-task-create' %}" class="btn btn-primary link-to-page"  >Create task</a>
      {% endif %}
  </h1>
  <p>Manager: {{ project.manager }}</p>
  <p>Description: {{ project.description }}</p>
  <p>Start Date: {{ project.start_date }}</p>
  <p>Submit Date: {{ project.deadline }}</p>

  <h2>Tasks:</h2>
  <ul>
    {% for task in project.tasks.all %}
      <li>{{ task.title }}</li>
      {% if request.user.position.name == "ProjectManager" or request.user in project.team.members.all %}
          <a href="{% url 'forge:task-detail' task.id %}" class="btn btn-primary link-to-page"  >Details</a>
      {% endif %}

    {% empty %}
      No tasks right now.
    {% endfor %}
  </ul>


{% endblock %}
