{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% if request.user.position.name == "ProjectManager" %}
  <table class="table team-table">
    <thead>
      <tr>
        <th>Full name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Salary</th>
        <th>Team</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for worker in workers %}
      <tr>
        <td><a href="{% url 'forge:worker-detail' pk=worker.pk %}">{{ worker.first_name }} {{ worker.last_name }}</a></td>
        <td>{{ worker.email }}</td>
        <td>{{ worker.position }}</td>
        <td> {{ worker.salary }} </td>
        <td>{% if worker.team %}<a href="{% url 'forge:team-detail' pk=worker.team.pk %}">{{ worker.team }}</a>{% else %}-{% endif %}</td>
        <td>
          {% if request.user.position.name == "ProjectManager" %}
            {% if worker.position %}
              <a href="{% url 'forge:worker-change' pk=worker.pk %}" class="btn btn-primary">Change</a>
              {% else %}
              <a href="{% url 'forge:worker-hire' pk=worker.pk %}" class="btn btn-primary">Hire!</a>
              {% endif %}
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td>No workers found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <form action="" method="get" class="form-inline">
    <div class="input-group">
      {{ search_form|crispy }}
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="submit"><i class="btn-outline-primary">🔎</i></button>
      </div>
    </div>
  </form>
{% endblock %}
