{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block personal %}
  {% if request.user.position %}
      <h2>
        {% if request.user.position.name == "ProjectManager" %}
          Projects
           <a href="{% url 'forge:project-create' %}" class="btn btn-primary link-to-page">
              Create Project
           </a>
        {% endif %}

      </h2>
      {% for project in worker.projects.all %}
        <a href="{% url 'forge:project-detail' project.pk %}">
          <p>{{ project.name }} by {{ project.manager.first_name }}</p>
        </a>
      {% endfor %}
    <h2>
      {% if request.user.position.name == "ProjectManager" and worker.position == request.user.position %}
        Teams
        <a href="{% url 'forge:team-create' %}" class="btn btn-primary link-to-page">
          Create Team
          {% endif %}
        </a>
    </h2>
    {% for team in worker.teams.all %}
      <a href="{% url 'forge:team-detail' team.pk %}">{{ team.name }}</a><br>


    {% endfor %}
  {% endif %}

{% endblock %}

{% block content %}

  <h2>
  {% if request.user.position.name == "ProjectManager" or request.user in project.team.members.all %}
      <a href="{% url 'forge:project-task-create' %}" class="btn btn-primary link-to-page"  >Create task</a>
  {% endif %}
  </h2>


{% endblock %}
