<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item list-group-item-custom">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item list-group-item-custom"><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item list-group-item-custom"><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
    <li class="list-group-item list-group-item-custom"><a href="{% url 'forge:register' %}?next={{request.path}}" id="rainbow-text">Sign up</a></li>
  {% endif %}


  <br>

  <li class="list-group-item list-group-item-custom"><a href="{% url 'forge:index' %}">Home</a></li>
  <li class="list-group-item list-group-item-custom"><a href="{% url 'forge:task-list' %}">Tasks</a></li>

  {% if user.is_authenticated and user.position.name == "ProjectManager"%}
  <li class="list-group-item list-group-item-custom"><a href="{% url 'forge:project-list' %}">Projects</a></li>
  <li class="list-group-item list-group-item-custom"><a href="{% url 'forge:worker-list' %}">Workers</a></li>
  {% endif %}

</ul>

<script>
  const rainbowText = document.getElementById("rainbow-text");
  let currentColor;

  rainbowText.addEventListener("mouseover", () => {
    const colors = ["#590a28", "orange", "#560456", "green", "#130372", "indigo", "violet"];
    currentColor = 0;

    const intervalId = setInterval(() => {
      rainbowText.style.color = colors[currentColor];
      currentColor++;

      if (currentColor === colors.length) {
        currentColor = 0;
      }
    }, 200);

    rainbowText.addEventListener("mouseout", () => {
      clearInterval(intervalId);
      rainbowText.style.color = currentColor === colors.length ? "" : colors[currentColor];
    });
  });
</script>
